{% load i18n %}
<footer class="container mx-auto text-center py-10 border-t font-medium text-gray-500">
    <div class="flex flex-col">
        <span>
            {% trans "Please don't copy us." %}
        </span>
        <span>&copy; 2019 Nomad Coders. {% trans "All rights reserved" %}.</span>
    </div>
    <div class="mt-10 flex">
        {% get_current_language as LANGUAGE_CODE %}
        <select class="w-1/5 h-8" id="js-lang">
            <option value="en"
                {% if LANGUAGE_CODE == 'en' %}
                selected
                {% endif %}
            >English</option>
            <option value="es"
                {% if LANGUAGE_CODE == 'es' %}
                    selected
                {% endif %}
            >Spanish</option>
        </select>
    </div>
</footer>