{% load i18n %}
<ul class="flex items-center text-sm font-medium h-full">
    {% if user.is_authenticated %}
        <li class="nav_link">
            <a href="{% url 'users:switch-hosting' %}">
                {% if request.session.is_hosting %}
                    {% trans "Stop hosting" %}
                {% else %}
                    {% trans "Start hosting" %}
                {% endif %}
            </a>
        </li>
        {% if request.session.is_hosting %}
            <li class="nav_link"><a href="{% url 'rooms:create' %}">{% trans "Create Room" %}</a></li>
        {% endif %}
        <li class="nav_link"><a href="{% url 'lists:see-favs' %}">{% trans "Favs" %} ({{user.list.rooms.count}})</a></li>
        <li class="nav_link"><a href="{{user.get_absolute_url}}">{% trans "Profile" %}</a></li>
        <li class="nav_link"><a href="{% url "users:logout" %}">{% trans "Log out" %}</a></li>
    {% else %}
        <li class="nav_link"><a href="{% url "users:login" %}">{% trans "Log in" %}</a></li>
        <li class="nav_link"><a href="{% url "users:signup" %}">{% trans "Sign up" %}</a></li>
    {% endif %}
</ul>
