{% extends "base.html" %}

{% block page_title %}
    Log In
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
     
    <div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">

            {% include 'partials/social_login.html' %}

            {% include 'mixins/auth/auth_form.html' with form=form cta="Log in" %}

            <div class="mt-5">
                <span class="mr-2">Don't have an account?</span>
                <a href="{% url 'users:signup' %}" class="text-teal-500 font-medium">Sign up</a>
            </div>
    </div>
{% endblock content %}